<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Self Study</title>
</head>
<body>
<h1>Assalomu alaykum.</h1>
<hr>
{% for credit in credits %}
    {{ credit.slug }} - {{ credit.title }}
    <br>
    {% for question in credit.questions.all %}
        <i>{{ question.title }}</i>
        {% for option in question.options.all %}
            <br>
            <b>{{ option.title }}</b>
        {% endfor %}
        <hr>
    {% endfor %}
{% endfor %}

</body>
</html>